.cryptoperp-icon3 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.div9 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.frame-div33,
.frame-div34 {
  display: flex;
  align-items: center;
}
.frame-div34 {
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
}
.frame-div33 {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Inter;
}
